.container {
    background-image: url("a745.jpg");
    color: khaki;
    text-align: center;
    font-weight: bolder;
    font-size: 22px;
    width: auto;
    font-family: sans-serif;
    
}

.container h1 {
    color: lightskyblue;
    text-align: center;
    font-style: inherit;
    
}

.links {
    text-align: left;
}


.about p {
    color: lightcoral;
}

.interests p {
    color:lightsalmon;
}

.sidebar {
      
    background-color:rgb(64, 168, 216);
    color: mediumblue;
    font-size: 35px;
    width: 200px;
    margin: 20px;
    padding: 1px;
    float: right;
    height: 1450px;
}









@media screen and (min-width: 480px) and (max-width: 760px) {
    .container  {
        color:white;
        background-color: lightskyblue;
        
    
}